Repository danhead/abc-project-design: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write

Remove design from site name
  components/HeaderLogo.js
  components/Layout.js
  pages/about.js
Due: prettier --write

add new services pages
  components/HeaderLogo.module.css
  components/Nav.js
  components/Nav.module.css
  images/extension.jpg
  images/loft_conversion.jpg
  images/office.jpg
  pages/contact.js
  pages/index.js
  pages/services/bathrooms.js
  pages/services/extensions.js
  pages/services/garage-conversions.js
  pages/services/index.js
  pages/services/loft-conversions.js
Due: stylelint --fix, prettier --write

dependency review
  package-lock.json
  package.json
Due: none

update contact details
  components/Footer.js
Due: prettier --write

use node 23
  .nvmrc
Due: none

Path conditions:
  stylelint --fix: any of: **/*.css
  prettier --write: (any of: **/*.css) or (any of: **/*.js)
